/**
 * Copyright (c) 2020 Aleksej Komarov
 * SPDX-License-Identifier: MIT
 */

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: #000000;
}

body {
  background: #fff;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  line-height: 1.2;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
}

em {
  font-style: normal;
  font-weight: bold;
}

img {
  margin: 0;
  padding: 0;
  line-height: 1;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

img.icon {
  height: 1em;
  min-height: 16px;
  width: auto;
  vertical-align: bottom;
}

a {
  color: #0000ff;
}

a.visited {
  color: #ff00ff;
}

a:visited {
  color: #ff00ff;
}

a.popt {
  text-decoration: none;
}

/* POPUPS */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #ddd;
}

.popup .close {
  position: absolute;
  background: #aaa;
  top: 0;
  right: 0;
  color: #333;
  text-decoration: none;
  z-index: 2;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.popup .close:hover {
  background: #999;
}

.popup .head {
  background: #999;
  color: #ddd;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  border-bottom: 2px solid green;
}

.popup input {
  border: 1px solid #999;
  background: #fff;
  margin: 0;
  padding: 5px;
  outline: none;
  color: #333;
}

.popup input[type=text]:hover,
.popup input[type=text]:active,
.popup input[type=text]:focus {
  border-color: green;
}

.popup input[type=submit] {
  padding: 5px 10px;
  background: #999;
  color: #ddd;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

.popup input[type=submit]:hover,
.popup input[type=submit]:focus,
.popup input[type=submit]:active {
  background: #aaa;
  cursor: pointer;
}

.changeFont {
  padding: 10px;
}

.changeFont a {
  display: block;
  text-decoration: none;
  padding: 3px;
  color: #333;
}

.changeFont a:hover {
  background: #ccc;
}

.highlightPopup {
  padding: 10px;
  text-align: center;
}

.highlightPopup input[type=text] {
  display: block;
  width: 215px;
  text-align: left;
  margin-top: 5px;
}

.highlightPopup input.highlightColor {
  background-color: #FFFF00;
}

.highlightPopup input.highlightTermSubmit {
  margin-top: 5px;
}



/* ADMIN CONTEXT MENU */


.contextMenu {
  background-color: #ddd;
  position: fixed;
  margin: 2px;
  width: 150px;
}

.contextMenu a {
  display: block;
  padding: 2px 5px;
  text-decoration: none;
  color: #333;
}

.contextMenu a:hover {
  background-color: #ccc;
}



/* ADMIN FILTER MESSAGES MENU */


.filterMessages {
  padding: 5px;
}

.filterMessages div {
  padding: 2px 0;
}

.filterMessages input {
}

.filterMessages label {
}

.icon-stack {
  height: 1em;
  line-height: 1em;
  width: 1em;
  vertical-align: middle;
  margin-top: -2px;
}




/*****************************************
*
* OUTPUT ACTUALLY RELATED TO MESSAGES
*
******************************************/





/* MOTD */


.motd {
  color: #638500;
  font-family: Verdana, sans-serif;
  white-space: normal;
}

.motd h1,
.motd h2,
.motd h3,
.motd h4,
.motd h5,
.motd h6 {
  color: #638500;
  text-decoration: underline;
}

.motd a,
.motd a:link,
.motd a:visited,
.motd a:active,
.motd a:hover {
  color: #638500;
}



/* ADD HERE FOR BOLD */


.bold,
.name,
.prefix,
.ooc,
.looc,
.adminooc,
.admin,
.medal,
.yell {
  font-weight: bold;
}



/* ADD HERE FOR ITALIC */


.italic,
.italics,
.emote {
  font-style: italic;
}



/* OUTPUT COLORS */


.highlight {
  background: yellow;
}

h1, h2, h3, h4, h5, h6 {
  color: #0000ff;
  font-family: Georgia, Verdana, sans-serif;
}

h1.alert, h2.alert {
  color: #000000;
}

em {
  font-style: normal;
  font-weight: bold;
}

.ooc {
  font-weight: bold;
}

.adminobserverooc {
  color: #0099cc;
  font-weight: bold;
}

.adminooc {
  color: #700038;
  font-weight: bold;
}

.adminsay {
  color: #9611D4;
  font-weight: bold;
}

.attacklog,
.admin {
  color: #4473ff;
  font-weight: bold;
}

.name {
  font-weight: bold;
}

.say {
}

.deadsay {
  color: #5c00e6;
}

.binarysay {
  color: #20c20e;
  background-color: #000000;
  display: block;
}

.binarysay a {
  color: #00ff00;
}

.binarysay a:active,
.binarysay a:visited {
  color: #88ff88;
}

.radio {
  color: #4E4E4E;
}

.sciradio {
  color: #993399;
}

// comradio below

// secradio below

// medradio below

// engradio below

.suppradio {
  color: #a8732b;
}

.servradio {
  color: #6eaa2c;
}

.syndradio {
  color: #6d3f40;
}

.centcomradio {
  color: #686868;
}

.aiprivradio {
  color: #ff00ff;
}

.redteamradio {
  color: #ff0000;
}

.blueteamradio {
  color: #0000ff;
}

.yell {
  font-weight: bold;
}

.alert {
  color: #ff0000;
}

h1.alert, h2.alert {
  color: #000000;
}

.emote {
  font-style: italic;
}

.userdanger {
  color: #ff0000;
  font-weight: bold;
  font-size: 185%;
}

.bolddanger {
  color: #ff0000;
  font-weight: bold;
}

.danger {
  color: #ff0000;
}

.tinydanger {
  color: #ff0000;
  font-size: 85%;
}

.smalldanger {
  color: #ff0000;
  font-size: 90%;
}

.warning {
  color: #ff0000;
  font-style: italic;
}

.alertwarning {
  color: #FF0000;
  font-weight: bold;
}

.boldwarning {
  color: #ff0000;
  font-style: italic;
  font-weight: bold;
}

.announce {
  color: #228b22;
  font-weight: bold;
}

.boldannounce {
  color: #ff0000;
  font-weight: bold;
}

.greenannounce {
  color: #00ff00;
  font-weight: bold;
}

.rose {
  color: #ff5050;
}

.info {
  color: #0000CC;
}

.notice {
  color: #000099;
}

.tinynotice {
  color: #000099;
  font-size: 85%;
}

.tinynoticeital {
  color: #000099;
  font-style: italic;
  font-size: 85%;
}

.smallnotice {
  color: #000099;
  font-size: 90%;
}

.smallnoticeital {
  color: #000099;
  font-style: italic;
  font-size: 90%;
}

.boldnotice {
  color: #000099;
  font-weight: bold;
}

.hear {
  color: #000099;
  font-style: italic;
}

.adminnotice {
  color: #0000ff;
}

.adminhelp {
  color: #ff0000;
  font-weight: bold;
}

.unconscious {
  color: #0000ff;
  font-weight: bold;
}

.suicide {
  color: #ff5050;
  font-style: italic;
}

.green {
  color: #03ff39;
}

.red {
  color: #FF0000;
}

.blue {
  color: #0000FF;
}

.nicegreen {
  color: #14a833;
}

.cult {
  color: #973e3b;
}

.cultitalic {
  color: #973e3b;
  font-style: italic;
}

.cultbold {
  color: #973e3b;
  font-style: italic;
  font-weight: bold;
}

.cultboldtalic {
  color: #973e3b;
  font-weight: bold;
  font-size: 185%;
}

.cultlarge {
  color: #973e3b;
  font-weight: bold;
  font-size: 185%;
}

.narsie {
  color: #973e3b;
  font-weight: bold;
  font-size: 925%;
}

.narsiesmall {
  color: #973e3b;
  font-weight: bold;
  font-size: 370%;
}

.colossus {
  color: #7F282A;
  font-size: 310%;
}

.hierophant {
  color: #660099;
  font-weight: bold;
  font-style: italic;
}

.hierophant_warning {
  color: #660099;
  font-style: italic;
}

.purple {
  color: #5e2d79;
}

.holoparasite {
  color: #35333a;
}

.revennotice {
  color: #1d2953;
}

.revenboldnotice {
  color: #1d2953;
  font-weight: bold;
}

.revenbignotice {
  color: #1d2953;
  font-weight: bold;
  font-size: 185%;
}

.revenminor {
  color: #823abb;
}

.revenwarning {
  color: #760fbb;
  font-style: italic;
}

.revendanger {
  color: #760fbb;
  font-weight: bold;
  font-size: 185%;
}

.deconversion_message {
  color: #5000A0;
  font-size: 185%;
  font-style: italic;
}

.ghostalert {
  color: #5c00e6;
  font-style: italic;
  font-weight: bold;
}

.alien {
  color: #543354;
}

.noticealien {
  color: #00c000;
}

.alertalien {
  color: #00c000;
  font-weight: bold;
}

.changeling {
  color: #800080;
  font-style: italic;
}

.alertsyndie {
  color: #FF0000;
  font-size: 185%;
  font-weight: bold;
}

.spider {
  color: #4d004d;
  font-weight: bold;
  font-size: 185%;
}

.interface {
  color: #330033;
}

.sans {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.papyrus {
  font-family: "Papyrus", cursive, sans-serif;
}

.robot {
  font-family: "Courier New", cursive, sans-serif;
}

.command_headset {
  font-weight: bold;
  font-size: 160%;
}

.small {
  font-size: 60%;
}

// big below

.reallybig {
  font-size: 245%;
}

.extremelybig {
  font-size: 310%;
}

.greentext {
  color: #00FF00;
  font-size: 185%;
}

.redtext {
  color: #FF0000;
  font-size: 185%;
}

.clown {
  color: #FF69Bf;
  font-size: 160%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.singing {
  font-family: "Trebuchet MS", cursive, sans-serif;
  font-style: italic;
}

.his_grace {
  color: #15D512;
  font-family: "Courier New", cursive, sans-serif;
  font-style: italic;
}

.hypnophrase {
  color: #0d0d0d;
  font-weight: bold;
  animation: hypnocolor 1500ms infinite;
  animation-direction: alternate;
}

@keyframes hypnocolor {
  0% {
    color: #0d0d0d;
  }

  25% {
    color: #410194;
  }

  50% {
    color: #7f17d8;
  }

  75% {
    color: #410194;
  }

  100% {
    color: #3bb5d3;
  }
}

.phobia {
  color: #dd0000;
  font-weight: bold;
  animation: phobia 750ms infinite;
}

@keyframes phobia {
  0% {
    color: #0d0d0d;
  }

  50% {
    color: #dd0000;
  }

  100% {
    color: #0d0d0d;
  }
}

.icon {
  height: 1em;
  width: auto;
}

.memo {
  color: #638500;
  text-align: center;
}

.memoedit {
  text-align: center;
  font-size: 125%;
}

.abductor {
  color: #800080;
  font-style: italic;
}

.mind_control {
  color: #A00D6F;
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}

.slime {
  color: #00CED1;
}

.drone {
  color: #848482;
}

.monkey {
  color: #975032;
}

.swarmer {
  color: #2C75FF;
}

.resonate {
  color: #298F85;
}

.monkeyhive {
  color: #774704;
}

.monkeylead {
  color: #774704;
  font-size: 80%;
}

.connectionClosed,
.fatalError {
  background: red;
  color: white;
  padding: 5px;
}

.connectionClosed.restored {
  background: green;
}

.internal.boldnshit {
  color: blue;
  font-weight: bold;
}



/* HELPER CLASSES */


.text-normal {
  font-weight: normal;
  font-style: normal;
}

.hidden {
  display: none;
  visibility: hidden;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-3 {
  margin-left: 3em;
}

/* CM stuff */

.xooc					{color: #6C0094;	font-weight: bold; font-size: 140%;}
.mooc					{color: #009900;	font-weight: bold; font-size: 140%;}
.yooc					{color: #999600;	font-weight: bold; font-size: 140%;}

.headminsay				{color: #5A0A7F;	font-weight: bold;}

.radio					{color: #4E4E4E;}
.deptradio				{color: #993399;}
.comradio				{color: #004080;}

.centradio				{color: #5C5C8A;}
.airadio				{color: #FF00FF;}

.secradio				{color: #A30000;}
.engradio				{color: #A66300;}
.medradio				{color: #008160;}

.supradio				{color: #5F4519;}
.jtacradio				{color: #702963;}
.intelradio				{color: #027D02;}
.wyradio				{color: #FE9B24;}

.alpharadio				{color: #EA0000;}
.bravoradio				{color: #C68610;}
.charlieradio			{color: #AA55AA;}
.deltaradio				{color: #007FCF;}
.echoradio				{color: #3a7e65;}

.medium					{					font-size: 110%}
.big					{					font-size: 115%}
.large					{					font-size: 125%}
.extra_large			{					font-size: 130%}
.huge					{					font-size: 150%}

.underline				{text-decoration: underline;}

.orange 				{color: #eca100;}

.normal					{font-style: normal;}

.attack					{color: #ff0000;}
.moderate				{color: #CC0000;}
.disarm					{color: #990000;}
.passive				{color: #660000;}

.helpful				{color: #368f31;}

.scanner				{color: #ff0000;}
.scannerb				{color: #ff0000;	font-weight: bold;}
.scannerburn			{color: #ffa500;}
.scannerburnb			{color: #ffa500;	font-weight: bold;}
.rose					{color: #ff5050;}

.debuginfo				{color: #493D26;	font-style: italic;}

.xenonotice				{color: #2a623d;}

.xenowarning			{color: #2a623d;	font-style: italic;}
.xenominorwarning		{color: #2a623d;	font-weight: bold; font-style: italic;}

.xenodanger				{color: #2a623d;	font-weight: bold;}
.avoidharm				{color:	#72a0e5;	font-weight: bold;}
.highdanger				{color: #ff0000;	font-weight: bold; font-size: 140%;}
.xenohighdanger			{color: #2a623d; 	font-weight: bold; font-size: 140%;}
.xenoannounce           {color: #1a472a;    font-family: book-antiqua; font-weight: bold; font-size: 140%;}
.yautjabold				{color: #800080;	font-weight: bold;}
.yautjaboldbig			{color: #800080;	font-weight: bold; font-size: 120%;}

.objectivebig			{font-weight: bold; font-size: 130%;}
.objectivegreen			{color: #00ff00;}
.objectivered			{color: #ff0000;}
.objectivesuccess		{color: #00ff00;	font-weight: bold; font-size: 110%;}
.objectivefail			{color: #ff0000;	font-weight: bold; font-size: 110%;}

.xenotalk,
.xeno					{color: #900090;	font-style: italic;}
.xenoleader				{color: #730d73;	font-style: italic;						font-size: 125%;}
.xenoqueen				{color: #730d73; 	font-style: italic; font-weight: bold; font-size: 125%;}
.newscaster				{color: #800000;}

.role_header			{color: #db0000;	display: block; text-align: center; font-weight: bold; font-family: trebuchet-ms; font-size: 150%;}
.role_body				{color: #000099;	display: block; text-align: center; font-size: 125%;}

.round_header			{color: #db0000; 	display: block; text-align: center; font-family: courier; font-weight: bold; font-size: 180%;}
.round_body				{color: #001427; 	display: block; text-align: center; font-family: trebuchet-ms; font-weight: bold; font-size: 125%;}
.event_announcement		{color: #600d48; 	font-family: arial-narrow; font-weight: bold; font-size: 125%;}

.announce_header		{color: #000000;	font-weight: bold; font-size: 150%;}
.announce_header_blue	{color: #000099;	font-weight: bold; font-size: 150%;}
.announce_body			{color: #ff0000;	font-weight: normal; font-size: 125%;}

.centerbold				{						display: block; text-align: center; font-weight: bold;}

.mod					{color: #735638;	font-weight: bold;}
.modooc					{color: #184880;	font-weight: bold;}
.adminmod				{color: #402A14;	font-weight: bold;}
.mentorsay				{color: #b38c32;	font-weight: bold;}
.staffsay				{color: #876101;	font-weight: bold;}
.tajaran				{color: #803B56;}
.tajaran_signlang		{color: #941C1C;}
.skrell					{color: #00CED1;}
.soghun					{color: #228B22;}
.changeling				{color: #800080;}
.vox					{color: #AA00AA;}
.monkey					{color: #966C47;}
.german					{color: #858F1E;	 font-family: 'Times New Roman', Times, serif;}
.spanish				{color: #CF982B;}
.japanese				{color: #be0029}
.zombie					{color: #216163; font-style: italic;}
.commando				{color: #FE9B24; font-style: bold;}
.rough					{font-family: trebuchet-ms, cursive, sans-serif;}
.say_quote				{font-family: Georgia, Verdana, sans-serif;}

.admin .message         {color: #314cad;}
.admin .prefix          {font-weight: bolder;}
.pm                     {font-size: 110%;}
